.container1{
  height: 100vh;
  background-image: url(https://raw.githubusercontent.com/giahuyduongdev/sharing-host-files-bookingcare/refs/heads/main/public/background/homepage_banner.jpg);
  background-repeat: no-repeat;
  background-size: 154%;
}