.home-footer {
  background-color: #64b9e5;
  width: 100%;

  p {
    font-family: Montserrat, sans-serif !important;
    color: black;
    font-size: 15px;
  }

  .content-right {
    display: flex;
    float: right;
    margin-right: 10px;
  }
}

.text {
  width: max-content;
  height: 18px;
}