.home-footer{
  background-color: #64b9e5;
  height: 80px;
  width: 100%;
  p{
    font-family: Montserrat, sans-serif !important;
    color: #edf7fc;
    line-height: 1.5 !important;
    font-size: 12px;
  }
  .content-right{
    display: flex;
    float: right;
    margin-right: 10px;
  }
}
.text{
  width: 33.3%;
  height: 18px;
}